<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>

<body>

    <nav style="background:#4857c1">
        <div class="nav-wrapper">
                <div class="row"> 
                        <div class="col s12 m4 center">
                            <ul id="nav-mobile" class="center">
                                <li> <b> SSD ASSIGNMENT 2 : GOOGLE DRIVE FILE UPLOAD</b></li>
                            </ul>
                        </div>
                </div>
        </div>
    </nav>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12"></div>
                <div class="col s12 m12 center">
                    <ul id="nav-mobile" class="center">
                        <br><br>
                        <li><a href="/auth/login/google"><b>CLICK HERE TO UPLOAD YOUR FILES</a></b></li>
                    </ul>
                    <br><br>
                    <img class="logo" height=200px src="/static/images/upload.jpg" alt="My_Logo">
                
                </div>
                

                    
            </div>
        </div>
    </main>

</body>
</html>